<!DOCTYPE html>
<html>

  <title>SII-NSI Compétences</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load static %}
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static "" %}css/competences.css">

  <body>

    <!-- Top menu -->
    <div class="w3-top w3-row w3-teal">

      <div class="w3-col s4 m4 l3">
        <div class="w3-button w3-left w3-hide-large w3-xlarge" onclick="sidebarOpenClose()">
          <i id="btSidebar" href="javascript:void(0)" class="glyphicon glyphicon-menu-hamburger"></i>
        </div>
        <button class="w3-button w3-left w3-xlarge" onclick="redirect('http://sii-nsi.ovh/')">
          <span class="glyphicon glyphicon-home"></span>
        </button>
        {% if user.is_superuser %}
        <button class="w3-button w3-left w3-xlarge" onclick="redirect('/admin')">
          <span class="glyphicon glyphicon-lock"></span>
        </button>
        {% endif %}
        {% if user.is_authenticated %}
        <button class="w3-button w3-left w3-xlarge" onclick="redirect('/competences/deconnection')">
          <span class="glyphicon glyphicon-off"></span>
        </button>
        {% endif %}
      </div>

      <div class="w3-col s8 m8 l3">
        {% block link %}
        {% endblock %}
      </div>

      <div class="w3-col s8 m8 l6">
        {% block title %}
        {% endblock %}
      </div>
    
    </div>

    <div class="w3-hide-large" style="height: 30px"></div>

    <!-- Sidebar -->
    <nav class="w3-sidebar w3-bar-block w3-collapse w3-quarter" style="margin-top: 10px; min-width: 250px;" id="sidebar">
      <div class="w3-hide-large" style="height: 30px"></div>
      {% block sidebar %}
      {% endblock %}
    </nav>
      
    <!-- !PAGE CONTENT! -->
    <div class="w3-row" style="margin-top: 50px">  
      <div class="w3-col s0 m0 l3"><br/></div>
      <div class="w3-col s12 m12 l6">
        <div class="w3-row-padding w3-padding-small w3-center">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </di>

  </body>

  <script>

    // Script to open and close sidebar
    function sidebarOpenClose() {
      const sidebar = document.getElementById("sidebar");
      const btSidebar = document.getElementById("btSidebar");
      if (sidebar.style.display === "block") {
        sidebar.style.display = "none";
        btSidebar.classList.remove("glyphicon-remove");
        btSidebar.classList.add("glyphicon-menu-hamburger");
      }
      else {
        sidebar.style.display = "block";
        btSidebar.classList.remove("glyphicon-menu-hamburger");
        btSidebar.classList.add("glyphicon-remove");
      }
    }

    function redirect(url) {
      location.replace(url)
    }

  </script>

</html>